.btn {
  margin-top: 45px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: #ffffff;
  width: 200px;
  height: 40px;
  background: linear-gradient(#ff469f, #ff6062);
}