@font-face {
  font-family: Gilroy-Thin;
  src: url(../Fonts/Gilroy-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../Fonts/Gilroy-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(../Fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../Fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../Fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Gillroy-Bold;
  src: url(../Fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Gilroy-Black;
  src: url(../Fonts/Gilroy-Black.ttf);
  font-weight: 900;
}


